
<div class="row profile">
    <div class="col-sm-4 col-md-3">
        
        <h1><li><%= @user.name %></li></h1>
        <ul>
            <%= content_tag(:li, ("Name: " + @user.name)) unless @user.name.blank? %>
            <%= content_tag(:li, ("Age: " + distance_of_time_in_words(Time.now, @user.date_of_birth) + " old")) unless @user.date_of_birth.blank? %>
        </ul>





    </div>
    <div class="feed">
        <h3>Posts</h3>

        <p><%= @post.body %></p>
    </div>
</div>




