<h1>This will be a list of posts</h1>
<%= link_to 'New Post', new_post_path %>
<ul>
        <% @posts.each do |p| %>
            <li>
                <h3><%= link_to p.title, post_path(p.id) %></h3>
                <p><small><strong>By: </strong><%= p.user.email %></small></p>
                <p><%= p.body %></p>
            </li>
        <% end %>
    </ul>

        